.completed {
    // width: 100%;
    overflow: hidden;
    // padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .checkbox {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-self: center;
        ul {
            // list-style-type: none;
            li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                input[type='checkbox']{
                    color: blue;
                    background-color: #FFFFFF;
                }
                span > img {
                    cursor: pointer;
                }
            }
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 25px;
            button {
                color: #FFFFFF;
                background-color: red;
                width: 150px;
                height: 50px;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}